.main {
    background-color: #252525;
    display: flex;
    flex-direction: column;
}

.container {
    height: 100vh;
    background-color: #252525;
}

.homeLink {
    color: #fff;
    text-decoration: none;
    margin-bottom: 20px;
}

.titleInput {
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 36px;
    color: #fff;
    margin-bottom: 16px;
    resize: none;
    overflow: hidden;
    min-height: 50px; /* Минимальная высота */
    height: auto;
    max-width: 100vw;
}

.textarea {
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 20px;
    color: #fff;
    resize: none; /* Запрещаем ручное изменение размера */
    overflow: hidden;
    min-height: 50px; /* Минимальная высота */
    height: auto;
    max-width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.save {
    max-width: 150px;
    font-size: 20px;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    padding: 5px 20px;
    border-radius: 8px;
}
.save:hover {
    background-color: #fff;
    color: #252525;
}
