.container {
    max-width: 400px;
    margin: 50px auto;
    min-height: 500px;
    background-color: #252525;
    padding: 24px 37px;
    border-radius: 20px;
}

body {
    background-color: #3b3b3b;
}

.top {
    display: flex;
    gap: 10px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.title {
    font-size: 38px;
    width: 100%;
    color: #fff;
    transition: width 0.4s ease;
}

.hidden {
    width: 0;
    color: #252525;
    transition: width 0.4s ease;
}

img {
    width: 50px;
    height: 50px;
    padding: 12px;
    background-color: #3b3b3b;
    border-radius: 50%;
    /* transition: width 0.4s ease; */
}

p {
    color: #fff !important;
}

.searchBox {
    display: flex;
    border-radius: 20px;
    width: 100%;
    transition: width 0.4s ease;
    overflow: hidden;
    justify-content: space-between;
    margin-bottom: 20px;
}

.searchBox.active {
    width: 100%; /* Ширина в открытом состоянии */
}

.searchInput {
    border: none;
    background: none;
    outline: none;
    width: 0;
    /* transition: width 0.4s ease; */
    color: #fff;
    font-size: 28px;
}

.searchBox.active .searchInput {
    width: 100%;
    padding: 0 10px;
}

.searchBtn {
    cursor: pointer;
    border: none;
    background: none;
}

.add {
    font-size: 50px;
    color: #fff;
    border-radius: 50%;
    background-color: #3b3b3b;
    border: none;
    padding: 0 0 5px 2px;
    box-shadow:
        -5px 0 10px 0 rgba(0, 0, 0, 0.4),
        0 5px 10px 0 rgba(0, 0, 0, 0.4);
    width: 70px;
    height: 70px;
    display: flex;
    justify-self: end;
    text-align: center;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
    align-items: center;
}
