li {
    background-color: #91f48f;
    margin-bottom: 20px;
    padding: 25px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    gap: 10px;
    overflow-wrap: break-word;
    word-break: break-word;
}

.title {
    flex: 1;
    overflow-wrap: break-word;
    word-break: break-word;
}

.button {
    background-color: transparent;
    font-size: 30px;
    line-height: 100%;
    border: none;
    cursor: pointer;
    border: 1px solid #000;
    border-radius: 5px;
    width: 38px;
    height: 38px;
    padding: 3px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    align-self: start;
}

p {
    color: #000 !important;
    word-wrap: break-word;
}
